.page {
    display: flex;
    flex-direction: row;
}

.left {
    width: 65vw;
    height: 100vh;
    background-color: #17A2B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.para h1 {
    color: #FFFFFF;
    font-weight: 400;
}

.para span {
    color: #FFFFFF;
}