.board {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* flex-shrink: 0; */
    overflow-y: auto;
}

.top {
    height: 17vh;
}

.body {
    display: flex;
    flex-direction: row;
    /* overflow-y: auto; */
    width: 90vw;
    box-sizing: border-box;
    height: 83vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.backlog,
.todo,
.inprogress,
.done {
    width: 22vw;
    height: 80vh;
    margin-left: 0.6vw;
    margin-right: 0.6vw;
    background-color: #EEF2F5;
    border-radius: 0.5vw;
}